@import "_variables.scss";
@import "../node_modules/bootstrap-material-design/scss/bootstrap-material-design.scss";
@import "../node_modules/bootstrap-vue/dist/bootstrap-vue.css";

body {
  background-color: #fafafa;
  .maincolumn {
    padding-left: 0;
    padding-right: 0;
  }
}
img {
  box-shadow: 0px 0px 10px #ccc;
}

@mixin rectbox(){
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid $widgetbackground;
  clear: both;

  @media (max-width: $screen-sm-min) {
    padding: 8px;
    margin: 8px;
  }
  @media (min-width: $screen-sm-min){
    padding: 15px;
    margin: 15px 10px;
  }
}

// widget
.widget {
  @extend .card;
  @extend .card-body;

  @media (max-width: $screen-sm-min) {
    margin: 1em 0;
  }
  
  @media (min-width: $screen-sm-min) {
    margin: 1.5em;
  }
  word-wrap: break-word;

  .title {
    display: inline;
    margin: -17px 0 0 -21px;
  }
  border: 1px solid #fff; 
  strong{
    font-size: 1em;
    display:inline;
    line-height: 20px;
    font-weight: normal;
    padding: 6px 1.5em 6px 1.5em;
    vertical-align: middle;
    color: #fff;
  }
  &.announcement strong{
    background-color: $baseblue;
    border: 1px solid $baseblue;
  }
  &.announcement:hover{
    border: 1px solid $baseblue;
  }

  &.announcement .announcebody{
    padding-top: 15px;
  }

  &.tags strong{
    background-color: $basered;
    border: 1px solid $basered;
  }
  &.tags:hover{
    border: 1px solid $basered;
  }

  &.links strong{
    background-color: $basegreen;
    border: 1px solid $basegreen;
  }
  &.links:hover{
    border: 1px solid $basegreen;
  }
  &.links ul{
    margin: 10px;
    padding: 0px;
    list-style:none;
  }

  &.comments strong{
    background-color: $baseorange;
    border: 1px solid $baseorange;
  }
  &.comments:hover{
    border: 1px solid $baseorange;
  }
  &.outline:hover{
    background-color: $outlinehover;
  }
}

.tagcloud{
  overflow: auto;
  margin: 10px 0 0 0;
  div{ 
    float: left;
    display:inline;
    margin: 5px 7px 5px 0;
  }
  a{
    @extend .btn;
    @extend .btn-raised;
    @extend .btn-info;
    @extend .btn-sm;
    font-size:  0.9em;
    padding: 4px 6px 2px 6px;
    text-decoration: none;
  }
  clear:both;
}

.bigwidget{
  @extend .card;
  @extend .card-body;
  @media (max-width: $screen-sm-min) {
    margin: 1em 0;
  }
  
  @media (min-width: $screen-sm-min) {
    margin: 1.5em;
  }

  img{
    max-width: 100%;
    max-height:100%;
  }
}
/*recent comment field*/
.comments{
  .c-list{
    font-size: 14px;
    line-height: 14px;
  }
  .c-meta{
      color:#aaa;
      margin-top: 10px;
  }
  .c-content{
    padding:3px 10px;
  }
}

/*calendar widget*/
$dot-radius:8px;
$dot-left:$dot-radius;
$dot-top:12px;
$dot-bottom:$dot-top;
$dotbar-left:-6px;
$dotbar-width:16px;
$dot-bar-height:$dot-radius/2;

.calendar{
  margin:1em 10px 10px 0;
  float:left;
  width:95%;
  background:$baseblue;
  
  text-align:center;
  border-radius:0px;    
  position:relative;
  box-shadow:0 2px 2px #888;

  &:before,&:after{
  content:'';
  float:left;
  position:absolute;
  left:$dot-left;    
  width:$dot-radius;
  height:$dot-radius;
  background:$baseblue;
  z-index:0;
  border-radius:$dot-radius;
  box-shadow:0 2px 2px #888;
  }
  &:before{
    top:$dot-radius+2px;
  }
  &:after{
    bottom: $dot-radius+2px;
  }

  .day:before, .day:after{
    content:'';
  float:left;
  position:absolute;
  left:$dotbar-left;    
  width:14px;
  height:4px;
  background:#ccc;
  z-index:0;
  border-radius:2px;
  }
.day{
  padding-left: 15px;
  float:left;
  width:40%;
  background:#fff;
  color:$baseblue;
  font:bold 30px/60px "Arial Black",Arial, Helvetica, sans-serif; 
}
.month-year{
  display:inline;
  color: #fff;
}
.year{
  font:bold 15px/30px "Arial Black",Arial, Helvetica, sans-serif;
}
.month{
  font:bold 11px/30px "Arial Black",Arial, Helvetica, sans-serif;
}
  .day:before{
    top:$dot-top;
  }
  .day:after{
    bottom:$dot-bottom;
  }
}