@import "~highlight.js/styles/github.css";
@import "_variables.scss";
@import "bootstrap.scss";
@import "_custom.scss";
@import "calendar.scss";
@import "widget.scss";



// customized styles
body {
  background-color: #fafafa;
  ::selection {
    background: #F34069;
    color: #fff;
  }
  
  .maincolumn {
    padding-left: 0;
    padding-right: 0;
  }
  font-weight: 300;
}

@mixin rectbox(){
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid $widgetbackground;
  clear: both;

  @media (max-width: $screen-sm-min) {
    padding: 8px;
    margin: 8px;
  }
  @media (min-width: $screen-sm-min){
    padding: 15px;
    margin: 15px 10px;
  }
}


/*recent comment field*/
.comments{
  .c-list{
    font-size: 14px;
    line-height: 14px;
  }
  .c-meta{
      color:#aaa;
      margin-top: 10px;
  }
  .c-content{
    padding:3px 10px;
  }
}