.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

// widget
.widget {
  @extend .card;
  @extend .shadow;
  @extend .card-body;
  font-size: $font-size-sm;

  @media (max-width: $screen-sm-min) {
    margin: 1em 0;
  }
  
  @media (min-width: $screen-sm-min) {
    margin: 1.5em;
  }
  word-wrap: break-word;

  .title {
    display: inline;
    margin: -17px 0 0 -21px;
  }
  // border: 1px solid #fff; 
  strong{
    font-size: 1em;
    display:inline;
    line-height: 20px;
    font-weight: normal;
    padding: 6px 1.5em 6px 1.5em;
    vertical-align: middle;
    color: #fff;
  }
  &.announcement strong{
    background-color: $baseblue;
    border: 1px solid $baseblue;
  }
  &.announcement:hover{
    border: 1px solid $baseblue;
  }

  &.announcement .announcebody{
    padding-top: 15px;
  }

  &.tags strong{
    background-color: $basered;
    border: 1px solid $basered;
  }
  &.tags:hover{
    border: 1px solid $basered;
  }

  &.links strong{
    background-color: $basegreen;
    border: 1px solid $basegreen;
  }
  &.links:hover{
    border: 1px solid $basegreen;
  }
  &.links ul{
    margin: 10px;
    padding: 0px;
    list-style:none;
  }

  &.comments strong{
    background-color: $baseorange;
    border: 1px solid $baseorange;
  }
  &.comments:hover{
    border: 1px solid $baseorange;
  }
  &.outline:hover{
    background-color: $outlinehover;
  }
}

.tagcloud {
  overflow: auto;
  margin: 10px 0 0 0;
  div {
    float: left;
    display:inline;
    margin: 5px 7px 5px 0;
  }
  
  button, a {
    @extend .btn;
    @extend .btn-info;
    @extend .btn-sm;
    font-size:  0.9em;
    padding: 4px 6px 2px 6px;
    text-decoration: none;
  }
  clear:both;
}

.bigwidget{
  @extend .card;
  @extend .shadow;
  @extend .card-body;

  font-weight: 300;
  h1, h2, h3, h4, h5{
    font-weight: 400
  }
  h1, h2, h3, h4, h5 {
    a {
      font-weight: 300
    }
  }
  
  @media (max-width: $screen-sm-min) {
    margin: 1em 0;
  }
  
  @media (min-width: $screen-sm-min) {
    margin: 1.5em;
  }

  img{
    max-width: 100%;
    max-height:100%;
  }
}